<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="1" >
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/style.css
            include ../public/stylesheets/formpage.css
    </head>
    <body>
    p #{title}
    <form class='formWrap' method="POST" action='/form'>

        <label> Type
            <input name='type'>
        </label>

        <label> Strain
            <input name='strain'>
        </label>

        <label> Classification
            <input name='classification'>
        </label>

        <label> THC % 
            <input name='cannabanoidsTHC'>
        </label>

        <label> CBD % 
            <input name='cannabanoidsCBD'>
        </label>

        <label> SKU
            <input name='sku'>
        </label>

        <label> Top Terpenes
            <input name='terpenes'>
        </label>

        <label> Price
            <input name='price'>
        </label>

        <label> Stock
            <input name='stock'>
        </label>
            <button type='submit' class='new-product-submit-btn'> Submit </button>
    </form>
        
    </body>

</html>