<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        //- <meta http-equiv="refresh" content="2" >
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <title>#{ title }</title>
        style 
            include ../public/stylesheets/loginpage.css
    </head>
    <body class='body'>
        <form class='loginForm' method="POST" >  Employee Login
            <label for='username'>Username </label>
                <input name='username'>
            </label>
            <label for='password'>Username 
                <input name='password'>    
            </label>
            <button class=submitbtn type='submit'></button>
        </form>
    </body>
        

    </form>