.bodyWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.productWrapper{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row-reverse;
    width: 95vw;

}
.productImgWrap {
    border-style: solid;
    border-color: black;
    width: 100%;
    background-color: #FAFAFA;

}
.nameAndPriceFlexWrap{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAFAFA;

}
.productNameWrap{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    width: 52vw;
    background-color: #FAFAFA;
}
.productNameDiv{
    display: flex;
    font-size: 1em;
    background-color: #FAFAFA;
}
.thcPercentWrap{
    display: flex;
    font-size: .5em;
    background-color: #FAFAFA;
}
.thcPercentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productClassificationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}
.priceWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem ;
    min-width: 8rem;
    height: 100%;
    border-radius: 6px;
    align-self: center;
    background-color: rgb(234, 239, 242);
    color: rgb(36, 37, 38);
    align-self: flex-start;
}
.priceWrapGramDiv{
    font-size: 11px;
}
.priceDiv{
    text-align: center;
    margin: .25rem;
    letter-spacing: .25px;
    background-color: rgb(234, 239, 242);
    font-size: 1em;
}
.percentOffWrap{
    width: 100%;
    text-align: center;
    background-color: rgb(243, 88, 58);
    color: white;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    padding-bottom: .1rem;
    font-size: .75em;
    
}