html, body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    
}
.bodyWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/allproductsbg.avif');
    
}
.productwrapsection{
    display: flex;
    flex-direction: column;
}
.mainWrap{
    width: 95vw;
    max-width: 100rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-height: 85.4vh;
    align-self: center;
    background: transparent;
}

.productTypeHeader{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
    font-family: 'IBM Plex Serif', serif;
    border-bottom: solid 5px;
    align-self: center;
    padding: 0.2rem 0.75rem;
}
.productWrapper{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border: 3px solid black;
    max-width: 25rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.productImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    background-color: transparent;
    background: transparent;
}
.productimg{
    height: 80%;
    width: 80%;
    max-height: 10rem;
    max-width: 10rem;
    border-radius: .5rem;
}
.nameAndPriceFlexWrap{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    max-width: 25rem;
    background-color: transparent;
    padding-top: 0.25rem;
}
.productNameWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    color: white;
    justify-content: flex-start
}
.productNameDiv{
    display: flex;
    justify-content: center;
    font-size: 1em;
    background-color: transparent;
    color: black;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    border-bottom: solid 1px;
    padding-bottom: 0.25rem;
    max-width: 15rem;

}
.thcPercentWrap{
    display: flex;
    font-size: .5em;
    background-color: transparent;
    color: black;
    max-width: 8rem;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px white;
}
.thcPercentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    color: #969EA5;

    
}
.productClassificationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    font-size: 1.1em;
    color: #969EA5;
}
.dot {
    height: 7.5px;
    width: 7.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .25rem;
  }
  .productdescriptions{
    color: blaCK;
  }
.priceWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0 ;
    border-radius: 6px;
    align-self: center;
    background-color: rgb(234, 239, 242);
    color: rgb(36, 37, 38);

}
.priceWrapGramDiv{
    font-size: .7em;
}
.priceDiv{
    text-align: left;
    margin: .25rem;
    letter-spacing: .25px;
    background-color: rgb(234, 239, 242);
    font-size: 1em;
    padding: .3rem;
}
.percentOffWrap{
    width: 100%;
    text-align: center;
    background-color: rgb(243, 88, 58);
    color: white;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    
    padding-bottom: .1rem;
    font-size: .75em;
    
}
/* @media(min-width:1024px){
    .productWrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    .nameAndPriceFlexWrap{
        justify-content: flex-end;
    }
    .productNameDiv{
        justify-content: flex-end;
    }

} */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */