.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginForm{
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    max-width: 40rem;
}
label{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
input{
    border-radius: 10px;
    margin-left: .25rem;
    width: 55vw;
    max-width: 10rem;
    height: 3vh;
}
.submitbtn{
    width: 50px;
    height: 5vh;
}