html{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h2 {
    align-self: center
}
.formTabsWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    width: 75%;
    max-width: 40rem;;
}
.registerheader{
    padding-bottom: .5rem;
    align-self: flex-start;
}
.loginForm{
    border: solid #CCCCCC 1px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;
    width: 100%;
    border-radius: .5rem;
    max-width: 130rem;
    font-size: 1.05em;
}
.loginform.hide {
    display: none;
}
label{
    width: 50%;
    max-width: 20rem;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
    margin: 0;
    font-size: 1;
    font-weight: 400;
}
input{
    border-radius: 10px;
    margin-left: .25rem;
    width: 80%;
    max-width: 20rem;
    height: 3vh;
    border-radius: .5rem;
    border: solid #CCCCCC 1px;
    padding: .25rem;
}
.submitbtn{
    margin-top: .75rem;
    width: 80%;
    max-width: 10rem;
    height: 5vh;
    background-color: #658864;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: .35rem;
    font-size: .9em;;
}
.submitbtn:active{
    opacity: .5;
}
.democredentialswrap{
    align-self: flex-start;
    margin-top: 4rem;
    margin-left: 5%;
    padding: 0.5rem;
    border-radius: 0.35rem;
    background-color: #D3CCC5;

}
@media(min-width:1024px){
    .submitbtn:hover{
        background-color: #B7B78A;
        cursor: pointer;
    }
    input:hover{
        cursor: pointer;
    }
}