/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060000;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    width: 100vw;
    height: 9vh;
   

}
.brandTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: .25rem;
    align-self: center;
    width:10vw
}

.navbarLinks{
   display: none;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
.navbarLinks.burgerMenu {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    position: relative;
    height: 5rem;
    width: 100vw;
    color: white;
}
.linksWrap.burgerMenu{  
    position:fixed;
    top:0;
    bottom:0;
    left: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color:white;
    background-color: grey;
    height: 10rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}
.headerlogo{
    justify-content: flex-end;
}
.hamburgerIcon{
    display: block;
}
.burgerMenuWrap.active{
    display: flex;
    background-color: grey;
    width: 65vw;
    justify-content: flex-end;
    padding: .5rem .25rem 1rem 0;
}
.logoimg {
    display: none;
}
a:link, a:visited {
    text-decoration:none;
}
input[type=search]{
    border-radius: 6px;
    border-style: solid;
    border-color: grey;
    width: 50vw;
    max-width: 15rem;;
}
@media(min-width:1224px) {
    /* .navbar{
        margin-bottom: 67vh;
    } */
    .linksWrap{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .navbarLinks{
        display: flex;
        justify-content: center;
        padding: .55rem;
        width: 10%;
        color: white;
        font-size: 1.25em;
    }
    .hamburgerIcon{
        display: none;;
    }
    .brandTitle{
        display: none;
    }
    .headerlogo{
        padding-left:0
    }
    .logoimg{
        display: block;
        width: 5rem;
        height: 5rem;
    }
}